#home { 
  background: url(../images/img.jpg) 50% 0 repeat fixed; 
  min-height: 1000px; 
  height: 50%; 
  margin: 0 auto; 
  width: 50%; 
  max-width: 1920px; 
  position: relative; 
}
 
#home article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 150px; 
  width: 100%;
  font-size: 80px;
  color: white; 
}
 
#about { 
  background: url(../images/img2.jpg) 50% 0 repeat fixed; 
  min-height: 300px; 
  height: 400px; 
  margin: 0 auto; 
  width: 400px; 
  max-width: 1920px; 
  position: relative; 
  -webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}
 
#about article { 
  height: 458px; 
  position: absolute; 
  text-align: center; 
  top: 250px; 
  width: 100%; 
  font-size: 80px;
  color: white;
}

